# JetBrains IDE
.idea/

# Kotlin
.kotlin/

# Gradle
.gradle/

# Other local files
local.properties

# Build
build/
app/src/main/java/com/example/kyrgyz_keyboard_android/keyboard/predictive_text/WordFilter.kt
